---
import CodeBlock from "../components/home/CodeBlock.astro";
import Hero from "../components/home/Hero.astro";
import "@fontsource-variable/outfit";
import Integration from "../components/home/Integration.astro";
import Install from "../components/home/Install.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout title="Pastoralist - Dependency Management Tool">
  <div class="px-3 md:px-10 xl:px-28">
    <Hero />
    <CodeBlock />
    <Integration />
    <Install />
  </div>
</HomeLayout>
